<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80607bb3d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="busqueda">
                <input type="search" name="buscar" id="buscar" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </div>
            <div class="title-header">
                <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <div class="search-bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="registro">Creá tu cuenta</a><i class="fas fa-address-card"></i></li>
                    <li><a href="loguin">Ingresá</a><i class="fas fa-sign-in"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <div class="logo-banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main>
        <div class="titulares">
            <h2>Basado en tu última visita</h2>
        </div>
        <section>
            <article>
               <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
               </div>
                <div class="producto">
                    <div class="icon-product">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$6770</p>
                    <p class="descuento">40% off</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="producto">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <div class="titulares">
            <h2>Sección de Ofertas</h2>
        </div>
        <section>
            <article>
                <div>
                 <img src="/images/img-cafetera-moulinex.jpg" alt="">
                </div>
                 <div class="producto">
                    <i class="fas fa-truck"></i>
                     <p class="precio">$6.770</p>
                     <p class="descuento">40% off</p>
                     <p class="descripcion">Cafetera Moulinex</p>
                 </div>
             </article>
             <article>
                 <img src="/images/img-macbook-pro-2019.jpg" alt="">
                 <div class="producto">
                    <i class="fas fa-truck"></i>
                     <p class="precio">$230.000</p>
                     <p class="descuento">20% off</p>
                     <p class="descripcion">MacBook Pro 2019</p>
                 </div>
             </article>
             <article>
                 <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                 <div class="producto">
                    <i class="fas fa-truck"></i>
                     <p class="precio">$70.500</p>
                     <p class="descuento">10% off</p>
                     <p class="descripcion">Smasung Galaxy S10</p>
                 </div>
             </article>
             <article>
                 <img src="/images/img-tv-samsung-smart.jpg" alt="">
                 <div class="producto">
                    <i class="fas fa-truck"></i>
                     <p class="precio">$23.200</p>
                     <p class="descuento">5% off</p>
                     <p class="descripcion">SmartTv Samsung 43"</p>
                 </div>
             </article>
        </section>
    </main>
    <footer>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</p>
            <p>puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</p>
            <p>productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</p>
            <p>porque estás siempre protegid@.</p>
        </div>
       <div class="parrafo"> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
       </div>
    </footer>
</body>
</html>