<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80607bb3d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="busqueda">
                <input type="search" name="buscar" id="buscar" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </div>
            <div class="title-header">
                <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <div class="search-bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="registro">Creá tu cuenta</a><i class="fas fa-address-card"></i></li>
                    <li><a href="loguin">Ingresá</a><i class="fas fa-sign-in"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <div class="logo-banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <form action="home">
        <fieldset class="loguin">
            <div class="only">
                <label for="email">
                    <input type="email" name="email" id="email"  required minlength="12" placeholder="Nombre De Usari@">
                </label>
            </div>
            <div class="only">
                <label for="pass">
                    <input type="password" name="pass" id="pass" required min="6" placeholder=" Contraseña">
                </label>
            </div>
            <div class="boton-loguin">
                <button type="submit">Enviar</button>
            </div>
        </fieldset>
    </form>
    <footer>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</p>
            <p>puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de</p>
            <p>productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="p-footer">
            <div class="icon-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</p>
            <p>porque estás siempre protegid@.</p>
        </div>
       <div class="parrafo"> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
       </div>
    </footer>
</body>
</html>